.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    width: 100%;
    max-width: 900px;
     max-height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header_title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.modal_header_close {
    cursor: pointer;
    color:rgba(0, 0, 0, 0.5);
    position: absolute;

}

.modal_body {
    display: flex;
    height: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_body_image {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    position: relative;
    
}

